<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
  <body style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 300;"> 
    <h1 style="text-align: center;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 300;"> 
      <%= link_to image_tag("logo_mail.jpg", style: 'vertical-align: top;'), root_path, class: 'logo' %>
      Feria de Startups 
    </h1>
    <blockquote>
      <p> Hola <%= @user.name %>!, estos son algunos de los productos destacados del momento: </p>

      <ul style="margin-bottom: 20px;">
        <% @products.each do |product| %>
          <li style="list-style: none; margin-bottom: 10px;"> 
            <b> 
              <%= link_to product.name, view_product_url(product), style: "color: #428bca;text-decoration: none;" %>                 </b>: 
            <%= "#{product.votes.count} votos" %> <br>
            <span style="color: #777777"> <%= product.description %> </span>
          </li>
        <% end %> 
      </ul>

      <p> Para ver el resto de los productos ingresá a la Feria de Startups. </p>
    </blockquote>
    <footer style="text-align: center;">
      <%= link_to "Ir a la Feria de Startups", root_url, class: 'btn',
           style: 'background: #8cc59e;
      border-width: 0;
      font-size: 1.3em;
      width: 90%;
      margin: auto;
      margin-bottom: 45px;
      width: 90%;
      padding: 10px;
      color: white;
      border-color: #4cae4c;
      text-decoration: none;
      line-height: 1.428571429;
      border-radius: 4px;'%>
      
      <hr style="margin-top:30px">
      <small style="color: #777777;display:block;text-align: center;">
        Si no querés recibir más estos correos ingresa a la feria de startups y accede a la sección Mis Datos
      </small>
    </footer>
  </body>
</html>