<div class="container">
  <h1> Panel de Administración </h1>

  <div class="col-md-6">
    <h3> Productos de las últimas 24 horas </h3>
    <ul>
      <% @today_products.each do |product| %>
        <% 
        product_url = u (view_product_url(product))
        text = u "#{product.name}: #{product.description}"
        via = 'feriadestartups'
        tweet_link = "https://twitter.com/intent/tweet?url=#{product_url}&text=#{text}&via=#{via}"
         %>
        
        <li> 
          <b> <%= link_to product.name, product.url %> </b> - <%= product.user.name %> 
          | <%= link_to "Tweet", tweet_link, class: 'tweet_link' %>
        </li>
      <% end %>
    </ul>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <% if @today_products.size == 0 %>
      <small class="text-muted"> No hay productos </small>
    <% end %>
  </div>
  
  <div class="col-md-6">
    <h3> Votos de las de las últimas 24 horas </h3>
    <ul>
      <% @today_votes.each do |product| %>
        <li> <b> <%= link_to product.name, product.url %> (<%= product.votes_count %>) </b> 
          - <%= product.user_name %> 
          <br>
          <% votes = product.votes.order(created_at: :desc) %>
          <% product.votes.each do |vote| %>
            <% user = vote.user %>
            <%= link_to "http://twitter.com/#{user.username}", target: '_blank' do %>
              <%= image_tag user.portrait('mini'), class: 'avatar', title: user.name%>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <% if @today_votes.size == 0 %>
      <small class="text-muted"> No hubo votos hoy </small>
    <% end %>
    <%= link_to "Enviar mail con votos", admin_send_voted_products_path, class: 'btn btn-primary', remote: true %>
    <%= link_to "Enviar daily", admin_send_daily_path, class: 'btn btn-success', remote: true %>
  </div>
  
  <div class="col-md-6">
    <h3> Usuarios </h3>
    <ul>
      <% @users.each do |user| %>
        <li> 
          <b> <%= link_to user.name, "http://twitter.com/#{user.username}" %> </b> 
          <span class="text-muted"> <%= user.created_at %> </span> 
        </li>
      <% end %>
    </ul>
  </div>

</div>