<tr>
  <td> <%= link_to category, category %> </td>
  <td> <%= text_to_color(category.color) %> </td>
  <td> <%= category.include_words %></td>
  <td>
    <%= link_to "Editar", edit_category_path(category), class: "btn btn-sm btn-warning", id: "btn_edit_product",
              data: { target: "#modal", modalsize: 'small', modaltitle: 'Editar categoría' } %>       
    <%= link_to 'Eliminar', category, class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: 'Esta Seguro?' } %>
  </td>
</tr>