<div class="media">
  
  <!-- INICIAL -->
  <div class="left pull-left" id="product_<%= product.id %>">
    <% background_color = product.color %>
    <div class="initial" style="background: <%= background_color %>">
      <%= product.initial.upcase %>
      <% 
      product_url = u (view_product_url(product))
      text = u "#{product.name}: #{product.description}"
      via = 'feriadestartups'
      tweet_link = "https://twitter.com/intent/tweet?url=#{product_url}&text=#{text}&via=#{via}"
       %>
      <%= link_to (image_tag "twitter_logo.png"), tweet_link, class: 'tweet_link', title: 'Tweet' %>
    </div>
    <p> 
      <small class="text-muted votes_count"> <%= product.votes_count %> </small> 
      <%= link_to product.user, title: product.user.name do %>
        <%= image_tag product.user.portrait('mini'), class: 'avatar'%>
      <% end %>
    </p>
  </div>

  <!-- TÍTULO Y DESCRIPCIÓN -->
  <div class="media-body">
    <%= link_to product.name, product.url, class: 'media-heading', target: '_blank' %>
    <span class="text-muted"> <%= product.description %> </span>
    
    <!-- ME GUSTA Y ELIMINAR -->
    <p> 
      <small> 
        <% if signed_in? %>
          <!-- Si ya lo votó resalto el me gusta -->
          <% like_class = (current_user.voted_for?(product)) ? 'highlight' : ''  %>
          <%= link_to 'Me gusta', polymorphic_url([:vote, product, Vote.new]), remote: true, 
                  class: "like #{like_class}" %> 
          
          <!-- Si es dueño muestro un eliminar -->
          <%= " |  #{link_to 'eliminar', product, data: { href: url_for(product), toggle: 'confirmation' },  
              class: 'text-danger'}".html_safe if product.is_owner?(current_user) %>
        <% else %>
          <%= link_to 'Me gusta', '#', class: 'text-muted',  
                data: { toggle: "modal", target: "#signin_modal" }  %> 
        <% end %>
        <span class="mobile_tweet_link">
          |
          <%= link_to "tweet", tweet_link %>
        </span>
        -
        <%= link_to "Detalle", product, class: "text-muted",
                  data: { target: "#modal", modalsize: 'small', modaltitle: 'Detalle de producto' } %>

        <% if product.comments_count > 0 %>
          -
          <small class="comments_count margin-left-5">
            <%= link_to icon_left(:comment, "<span id='#{dom_id(product)}_list_comment_count'> #{product.comments_count} </span>".html_safe),
                        product, class: "text-muted",
                        data: { target: "#modal", modalsize: 'small', modaltitle: 'Detalle de producto' } %>
          </small>
        <% end %>
      </small> 
    </p>
  </div>
</div>