<div id="products">
  
  <%= render 'aside' %>
  
  <div class="col-md-9 col-sm-9 ">
    <% if !params[:query].nil? %>
      <p class="filter"> 
        <span class="filter_by"> Filtrando por: <b> <%= params[:query]  %> </b> </span>
        <%= link_to root_path do  %>
          <span class="glyphicon glyphicon-remove"> </span>
        <% end %>
      </p>
    <% end %>
    
    <div class="list">
      <%= render @products %>      
    </div>
  </div>
  
  <div id="infinite-scrolling">
    <%= will_paginate @products, params: {controller: 'products', action: "index"} %>
  </div>
</div>


<!-- OBLIGO A PONER EMAIL -->
<% if signed_in? && current_user.email.nil? %>
  <%= javascript_tag "openModal('small', '#{edit_user_path(current_user)}', 'Mis Datos', { closeDisabled: true })" %>
<% end %>

<!-- QUIERE VER UN PRODUCTO? -->
<% if !@product.nil? %>
  <%= javascript_tag "openModal('small', '#{product_path(@product)}', '#{@product.name}', { })" %>
<% end %>