<%= form_for @product, id: 'newproduct_form', remote: true, class: 'new_product',
      html: {role: :form, 'data-model' => 'product', autocomplete: 'off'} do |f| %>
  
  <div id="error_explanation" class="errors"> </div>
  
  <div class="row">
    <div class="form-group col-md-8">
      <%= f.text_field :name, placeholder: "Nombre del producto", required: true, class: "form-control" %>
    </div>
  </div>
  
  <div class="row">
    <div class="form-group col-md-8">
      <%= f.text_field :url, placeholder: "Url del producto", type: 'url', required: true, 
          class: "form-control", onblur: "addHttp(this)" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.text_area :description, placeholder: "Una pequeña descripción del producto", required: true, 
      maxlength: 120, class: "form-control" %>
  </div>
  
	<div class="submit">
		<%= f.submit "Guardar", class: 'btn btn-success' %>			
	</div>
  
<% end %>

<%= javascript_tag 'newProduct()' %>