<%= form_for @product do |f| %>

  <%= f.text_field :name, placeholder: "Nombre del producto", required: true %>
  <%= f.text_field :url, placeholder: "Url del producto", type: 'url', required: true %>
  <%= f.text_area :description, placeholder: "Una pequeña descripción del producto", required: true, maxlength: 120 %>
  <%= f.text_field :logo, placeholder: "Url del logo del producto", type: 'url' %>
  <%= f.text_field :video, placeholder: "Video del producto", type: 'url' %>
  
	<div class="submit">
		<%= f.submit "Agregar" %>			
	</div>
<% end %>